{% extends "layout.html" %}
{% block content %}
    <div class="content-section" style="align-items: center">
    <h1>Our Writers</h1>
    </div>
       <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
              <th scope="row">{{ user.id }}</th>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td><a href="/delete/{{ user.id }}" class="btn btn-danger">Delete</a></td>
          {% endfor %}
          </tbody>
       </table>
{% endblock content %}
